body {
    width: 95vw;
    height: 100vh;
    background-color: rgb(250, 247, 247);
}

::-webkit-scrollbar{
    height: 0;
    width: 0;
}
h1 {

    border-radius: 10px;
    text-align: center;
    height: 20vh;
    width: 100%;
    font-weight: bolder;
    /* padding: 20px; */
    /* height: 50px; */
    /* font-size: 35px; */
    /* background-color: rgb(124, 182, 230); */
}

table,
td {
    background-color: rgb(196, 231, 231);
    text-align: center;
    margin-top: 10px;
    color: #020202;
    border: 0px solid rgb(2, 2, 2);
}

input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #020202;
    /* Gray border */
    border-radius: 10px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    /* Bottom margin */
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: rgb(2, 2, 2);
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    height: 100%;
    border-radius: 20px;
    background-color: #f8f6f6;
    padding: 10px;
}

@media (max-width: 1125px) {
    iframe{
        width: 500px;
    }
}

@media (max-width: 950px) {
    iframe{
        width: 400px;
    }
}

@media (max-width:769px) {
    header {

        width: 100vw;
        height: 20vh;
        font-size: 1.7rem;
    }

    table,
    td {
        font-size: 0.7rem;
    }

    .container {
        padding: 2px;
    }

    iframe {
        width: 550px;
        height: 200px
    }

    input[type=text],
    select,
    input[type=textarea] {
        padding: 3px;
    }

}

@media (max-width: 550px) {
    iframe{
        width: 350px;
    }
}